.notifyjs-corner {
  top :100px !important;
  position:fixed;
  /* static */
  width:200px !important;
  height:100px !important;
  }

  /* notifyjs-hidable */
/* .notifyjs-container{
  top :100px !important;
  position:static;
  width:200px !important;
  height:100px !important;
  } */

.notifyjs-bootstrap-base.notifyjs-bootstrap-success{
  height:40px;
}
