<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h1>Ajou_university</h1>
<!-- key 값을 가져옴 -->


<p title="i'm a tooltip">
    Mouse over this paragraph, to display the title attriute as a tooltip {{time}}
</p>

<!--for문 예제-->
<!--<table>-->
    <!--{% for data in examples %}-->
        <!--<tr>-->
            <!--<td>-->
                <!--{{data}}-->
            <!--</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->
</body>
</html>