.iu-center-box {
  width:540px;
}
.iu-page {
  min-width:540px;
}
.header {
  color:#333333;
  height:57px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.center-box-3 {
  background-color:#FFFFFF;
}
.floating-image-14 {
  background-image:url('/resource/project/icon.png');
  background-position:center center;
  background-size:contain;
  height:43px;
  left:9px;
  top:12px;
  width:40px;
}
.text-15 {
  font-family:'Helvetica', sans-serif;
  font-weight:700;
  height:28px;
  left:51px;
  letter-spacing:2px;
  text-align:center;
  top:23px;
  width:63px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:1185px;
}
.center-box-12 {
  background-color:#FFFFFF;
}
.box-18 {
  height:447px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:5px;
  width:524px;
}
.box-49 {
  background-color:#FFFFFF;
  border-radius:0px;
  height:103px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:17px;
  width:396px;
}
.text-51 {
  color:#00CCCC;
  font-size:36px;
  height:53px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:41px;
  width:180px;
}
.text-50 {
  color:#242424;
  font-size:20px;
  font-weight:700;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:4px;
  width:264px;
}
.text-17 {
  color:#000000;
  font-size:24px;
  font-weight:700;
  height:38px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:364px;
  width:409px;
}
.box-24 {
  height:169px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:135px;
  width:191px;
}
.floating-image {
  background-image:url('/resource/project/good.png');
  background-position:center center;
  background-size:contain;
  bottom:0px;
  height:149px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:148px;
}
.box {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:438px;
  width:524px;
}
.text-47 {
  color:#B6B6B6;
  font-size:12px;
  height:19px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:307px;
  width:180px;
}
.box-31 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:15px;
  width:524px;
}
.box-30 {
  height:734px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:452px;
  width:524px;
}
.box-58 {
  background-color:rgba(240,240,240,0.40);
  border-color:#DBDBDB;
  border-width:0px;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:3px;
  width:524px;
}
.text-59 {
  font-size:14px;
  height:82px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:100px;
  width:492px;
}
.text-60 {
  font-size:18px;
  font-weight:700;
  height:25px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:19px;
  width:123px;
}
.box-62 {
  background-color:#B6B6B6;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:55px;
  width:210px;
}
.box-25 {
  background-color:rgba(240,240,240,0.40);
  border-color:#DBDBDB;
  border-width:0px;
  height:503px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:217px;
  width:524px;
}
.text-26 {
  font-size:18px;
  font-weight:700;
  height:25px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:19px;
  width:113px;
}
.box-27 {
  background-color:#B6B6B6;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:55px;
  width:210px;
}
.box-29 {
  height:500px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:40px;
  width:500px;
}
.footer {
  height:35px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
